<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtkSharp" version="3.24.24.34" targetFramework="net462" />
  <package id="CairoSharp" version="3.24.24.34" targetFramework="net462" />
  <package id="Eto.Forms" version="2.5.11" targetFramework="net462" />
  <package id="Eto.OxyPlot" version="1.2.0-beta" targetFramework="net45" />
  <package id="Eto.OxyPlot.Wpf" version="1.2.0-beta" targetFramework="net45" />
  <package id="Eto.Platform.Gtk" version="2.5.11" targetFramework="net462" />
  <package id="Eto.Platform.Windows" version="2.5.11" targetFramework="net462" />
  <package id="Eto.Platform.Wpf" version="2.5.11" targetFramework="net462" />
  <package id="Extended.Wpf.Toolkit" version="3.6.0" targetFramework="net462" />
  <package id="GdkSharp" version="3.24.24.34" targetFramework="net462" />
  <package id="GioSharp" version="3.24.24.34" targetFramework="net462" />
  <package id="GLibSharp" version="3.24.24.34" targetFramework="net462" />
  <package id="GtkSharp" version="3.24.24.34" targetFramework="net462" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net471" />
  <package id="OpenTK" version="3.1.0" targetFramework="net461" />
  <package id="OxyPlot.Core" version="2.0.0-unstable1035" targetFramework="net471" />
  <package id="OxyPlot.Wpf" version="2.0.0-unstable1035" targetFramework="net471" />
  <package id="PangoSharp" version="3.24.24.34" targetFramework="net462" />
  <package id="SharpZipLib" version="1.3.1" targetFramework="net462" />
  <package id="SkiaSharp" version="2.80.2" targetFramework="net462" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net462" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net462" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net471" />
</packages>